@media (max-width: 1630px) {
  .scheme__info{
    grid-template-columns: 1fr;
  }
  .scheme__item_map{
    min-height: 338px;
  }
}
@media (max-width: 1471px) {
  .scheme__info{
    grid-template-columns: 1fr 1fr;
  }
   .scheme__item_wrap{
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 1277px) {
 .scheme__info{
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  .scheme__item_map{
    min-height: 454px;
    border-radius: 16px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 768px) {
  .scheme {
    &__item {
      &_title {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .scheme {
    &__list {
      gap: 20px;
    }
    &__item {
      padding: 16px;
      &_title {
        font-size: 20px;
        margin-bottom: 15px;
      }
      &_address {
        margin-bottom: 10px;
      }
      &_map {
        height: 250px;
      }
    }
    &__info {
      gap: 10px;
      margin-bottom: 20px;
      min-width: 100%;
      grid-template-columns: 1fr;
      &_ico {
        width: 45px;
        height: 45px;
      }
      &_title, &_description {
        font-size: 14px;
      }
    }
    &__gallery {
      column-gap: 15px;
    }
    &__images {
      &_item {
        width: 80px;
        height: 80px;
        &:not(:first-child) {
          margin-left: -55px;
        }
      }
      &_more {
        font-size: 14px;
      }
    }
    &__video {
      &_item {
        width: 75px;
        height: 75px;
      }
    }
  }
}